.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 5px 10px; /* Smaller padding for smaller buttons */
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Smaller font size for smaller buttons */
  }
  
  .btn-green {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-orange {
    background-color: #ff9800;
    color: white;
  }
  
  .btn-blue {
    background-color: #2196f3;
    color: white;
  }
  
  .alert {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    border-radius: 5px;
  }
  